In [1]:
import findspark
findspark.init('/home/dangkhoa/spark-2.3.1-bin-hadoop2.7')

## Session

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basic_DataFrame").getOrCreate()

## Read dataset

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## Read dataset with structure

In [10]:
from pyspark.sql.types import (
    StructField,
    StringType,
    IntegerType,
    StructType)

In [11]:
# Data schema definition
data_schema = [
    StructField("age", IntegerType(), True),
    StructField("name", StringType(), True)]

# Structure definition
data_struct = StructType(fields=data_schema)

# Read df
df = spark.read.json('people.json', schema=data_struct)
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Select

In [12]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [13]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Creating new columns

In [14]:
# Adding a new column with a simple copy
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [15]:
# Rename
df.withColumnRenamed('age', 'supernewage').show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

## Temporary view - SQL

In [16]:
# Create temp view
df.createOrReplaceTempView('people')

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
results = spark.sql('''
    SELECT * FROM people
    ''')
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
results = spark.sql('''
    SELECT *
    FROM people
    WHERE age = 30
    ''')
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+